<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} ПТН ПНХ {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
       function onSubmit(token) {
         document.getElementById("demo-form").submit();
       }


    </script>

</head>
<body>

</body>

<head>
    {% include 'inc/_nav.html'%}
</head>
<body>
{% if messages %}
<div class="pricing-header text text-center">
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
</html>
