{% extends 'base.html'%}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row featurette">
    {% for item in profile %}
    <div class="col-md-6 order-md-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Пошта</th>
                <th scope="col">Ім'я</th>
                <th scope="col">Громада</th>
                <th scope="col">Роль</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td>{{ item.email }}</td>
                <td>{{ item.first_name }} {{ item.last_name }}</td>
                <td>{{ item.community.locality }}</td>
                <td>{{ item.role }}</td>

            </tr>
            </tbody>

        </table>
        <p class="text-center">{{ item.extra }}</p></br>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a href="{% url 'change'%}" class="btn btn-secondary" role="button" aria-pressed="true">Змінити
                інформацію</a>
            <a href="{% url 'change_com'%}" class="btn btn-secondary" role="button" aria-pressed="true">Змінити
                громаду</a>
            <a href="{% url 'change_password'%}" class="btn btn-secondary" role="button" aria-pressed="true">Змінити
                пароль</a>
            <a href="{% url 'send_request'%}" class="btn btn-secondary" role="button" aria-pressed="true">Заявка на отримання ролі</a>
        </div>
    </div>
    {% if item.photo %}
    <img data-src="holder.js/300x300/auto" alt="300x300"
         src='{{ item.photo.url }}'
         style="width: 300px; height: 300px;">
    {% else %}
    <img data-src="holder.js/300x300/auto" alt="300x300"
         src="{% static 'PROPERTY/media/ava.png'%}"
         style="width: 300px; height: 300px;">
    {% endif %}

    {% endfor %}

</div>

{% endblock %}