{% extends 'base.html'%}

{% block title %}{{  title }}{% endblock %}

{% block content %}

<a class="btn" href="/{{code}}/administrator/object/subjects/create/image/{{pk}}">Додати зображення</a>
<div class="row">

    <div class="header">
        {% for item in image %}
        <div class="header_item">
            <img src='{{ item.image.url }}'>
            <a class="btn" href="/{{code}}/administrator/object/subjects/delete/image/{{item.id}}">Видалити</a>
        </div>


        {% endfor %}
    </div>
</div>
{% endblock %}
