{% extends 'base.html'%}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<style>
    body{
    margin-top:20px;
    background:#eee;
    color: #708090;
}
.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}






</style>

<a href="/forum/category/create/{{pk}}" class="btn btn-primary">Додати тему</a>

{% for item in topic %}
<div class="col-lg-9 mb-3">

    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
        <div class="row align-items-center">

            <div class="col-md-8 mb-3 mb-sm-0"><h5>
                <a href="/forum/post/{{item.id}}" class="text-primary">{{ item.title }}</a>
            </h5>
                {% if user.id == item.user_id%}
                <div class="button-group">
                    <a class="btn" href="/forum/category/update/{{item.id}}">Редагувати</a>
                    <a class="btn" href="/forum/category/delete/{{item.id}}">Видалити</a>
                </div>
                {% endif %}
            </div>

            <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">Автор теми: <br>{{item.user}}</span>
                    </div>

                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">Дата оновлення: <br> {{item.update_at}}</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{%endfor%}

{% endblock %}
